In [1]:
!pip install pandas openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

data = {
    'Date': ['2025-01-01','2025-01-01','2025-01-02','2025-01-02','2025-01-03','2025-01-03','2025-01-04'],
    'Product': ['Keyboard','Mouse','Monitor','Keyboard','Mouse','Monitor','Keyboard'],
    'Amount': [1500, 700, 12000, 1500, 800, 11000, 1600]
}

df = pd.DataFrame(data)
df.to_csv("sales_data.csv", index=False)
df

         Date   Product  Amount
0  2025-01-01  Keyboard    1500
1  2025-01-01     Mouse     700
2  2025-01-02   Monitor   12000
3  2025-01-02  Keyboard    1500
4  2025-01-03     Mouse     800
5  2025-01-03   Monitor   11000
6  2025-01-04  Keyboard    1600

In [9]:

df = pd.read_csv("sales_data.csv")


df['Date'] = pd.to_datetime(df['Date'])
df = df.dropna()

summary = df.groupby('Product', as_index=False)['Amount'].sum()
summary.rename(columns={'Amount': 'Total Sales'}, inplace=True)

output_file = "sales_report.xlsx"
with pd.ExcelWriter(output_file, engine="openpyxl") as writer:
    df.to_excel(writer, sheet_name="Cleaned Data", index=False)
    summary.to_excel(writer, sheet_name="Summary", index=False)

summary

    Product  Total Sales
0  Keyboard         4600
1   Monitor        23000
2     Mouse         1500

In [7]:
print(f"Report generated successfully: {output_file}")

Report generated successfully: sales_report.xlsx

In [1]:
import pandas as pd
from openpyxl import load_workbook
from openpyxl.chart import BarChart, Reference

# Step 1: Create sample CSV (only once, skip if already exists)
data = {
    'Date': ['2025-01-01','2025-01-01','2025-01-02','2025-01-02','2025-01-03','2025-01-03','2025-01-04'],
    'Product': ['Keyboard','Mouse','Monitor','Keyboard','Mouse','Monitor','Keyboard'],
    'Amount': [1500, 700, 12000, 1500, 800, 11000, 1600]
}
df = pd.DataFrame(data)
df.to_csv("sales_data.csv", index=False)

# Step 2: Read CSV and clean data
df = pd.read_csv("sales_data.csv")
df['Date'] = pd.to_datetime(df['Date'])
df = df.dropna()

# Step 3: Create summary
summary = df.groupby('Product', as_index=False)['Amount'].sum()
summary.rename(columns={'Amount': 'Total Sales'}, inplace=True)

# Step 4: Save cleaned data + summary to Excel
output_file = "sales_report.xlsx"
with pd.ExcelWriter(output_file, engine="openpyxl") as writer:
    df.to_excel(writer, sheet_name="Cleaned Data", index=False)
    summary.to_excel(writer, sheet_name="Summary", index=False)

# Step 5: Add Bar Chart to Summary sheet
wb = load_workbook(output_file)
ws = wb["Summary"]

# Define chart data range (B2:B4 for products, C2:C4 for totals)
chart = BarChart()
chart.title = "Total Sales by Product"
chart.x_axis.title = "Product"
chart.y_axis.title = "Sales Amount"

data_range = Reference(ws, min_col=2, min_row=1, max_col=2, max_row=ws.max_row)
cats = Reference(ws, min_col=1, min_row=2, max_row=ws.max_row)

chart.add_data(data_range, titles_from_data=True)
chart.set_categories(cats)

# Add chart to sheet
ws.add_chart(chart, "E2")

# Save final report
wb.save(output_file)

print(f"Report with chart generated successfully: {output_file}")

Report with chart generated successfully: sales_report.xlsx